@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #6466f2;
  color: white;
}
bg-primary {
  background-color: #6466f2;
}
.text-primary-400 {
  color: #764fff;
}
.bg-primary-400 {
  background-color: #764fff;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#color-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #6466f2;
  cursor: pointer;
  border-radius: 100%;
  position: relative;
  left: 0;
  box-shadow: 1px 1px 5px;
  border: 4px solid white;
}

.bg-base-300 {
  background-color: #26252a;
}
.bg-base-200 {
  background-color: #201f23;
}
.bg-base-100 {
  background-color: #17171a;
}
@keyframes strike-through {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes opacity-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.strike-through-animation {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: currentColor;

    animation: strike-through 200ms linear forwards;
  }
}
.opacity-transition-animation {
  animation: opacity-animation 300ms linear forwards;
}
dialog::backdrop {
  backdrop-filter: blur(5px);
}

.resize {
  border: 1px solid black;
  overflow: auto;
}
.resize.horizontal {
  resize: horizontal;
}
.resize.vertical {
  resize: vertical;
}
.resize.both {
  resize: both;
}
.wrap {
  max-width: 80%;
}

.accordion-content {
  height: 0px;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}

.accordion-content.open {
  height: 100px; /* Set your desired maximum height for the open state */
}
.bouncy-dialog {
  animation: bounceIn 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

@keyframes bounceIn {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

/* CLOCK */

.analog-clock {
  width: 140px;
  height: 140px;

  border-radius: 50%;
  position: relative;
}

.hand {
  position: absolute;
  transform-origin: 50% 100%;
  background-color: #333;
}

.hour-hand {
  height: 40px;
  width: 4px;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -2px;
}

.minute-hand {
  height: 50px;
  width: 2px;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -1px;
}

.second-hand {
  height: 60px;
  width: 1px;
  background-color: red; /* Color for the second hand */
  top: 50%;
  left: 50%;
  margin-top: -60px;
  margin-left: -0.5px;
}

.center-circle {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #333;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* RESIZE */

.resizeable {
  position: relative;
  top: 0;
  bottom: 0;

  border-radius: 3px;
}

.resizer {
  position: absolute;
  background: transparent;
}

.resizer-r {
  cursor: col-resize;
  height: 100%;
  right: 0;
  top: 0;
  width: 10px;
}

.resizeable[data-resizer-thumb-right="true"]:hover .resizer-r::after {
  content: "";
  position: absolute;

  height: 100%;
  right: 0;
  top: 50%;
  transition-duration: 400ms;
  transform: translate(0%, -50%);
  width: 4px;
  height: 57px;
  background: #49474f;
  border-radius: 2px;
}

.resizer-t {
  cursor: row-resize;
  height: 5px;
  left: 0;
  top: 0;
  width: 100%;
}

.resizer-b {
  cursor: row-resize;
  height: 5px;
  left: 0;
  bottom: 0;
  width: 100%;
}

.resizer-l {
  cursor: col-resize;
  height: 100%;
  left: 0;
  top: 0;
  width: 5px;
}
